/*footer*/

footer {
    max-width: 1440px;
    width: 100%;
    height: 619px;
    background-color: rgba(43, 43, 43, 1);
    margin: 0 auto;
    margin-top: 80px;
}
.footerBlock {
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content:space-between;
    padding-top: 97px;
}
.footerLogo {
    margin-left: 70px;
}
footer li {
    margin-top: 4px;
}

.footerUlOne {
    margin-top: 19px;
}
.footerUlTwo {
    margin-top: 19px;
}
.footerUlThree {
    margin-top: 19px;
}
.footerAboutText1 {
    margin-top: 44px;
}
.footerSupportText1 {
    margin-top: 25px;
}
.footerSupportSpan {
    display: block;
    margin-top: 25px;
}
.footerFollowUsSocial {
    margin-top: 10px;
}
.footerFollowUsSocial i {
    font-size: 25px;
    margin: 5px;
}


.footerInputText1 {
    margin-top: 15px;
}
.input1 {
    max-width: 327px;
    width: 100%;
    height: 54px;
    border-radius: 1px;
    border: solid 1px rgba(255, 255, 255, 0.4);
    background-color: rgba(43, 43, 43, 1);
    margin-top: 30px;
    color: white;
    font-size: 30px;
}
.checkboxMenu {
    display: flex;
    margin-top: 25px;
    align-items: flex-start;
}
.checkboxMenu p {
    color: rgba(255, 255, 255, 0.5);
    line-height: 12.89px;
    letter-spacing: 2.4px;
    font-size: 12px;
    margin-left: 20px;

    max-width: 369px;
    width: 100%;
    
}
.footerInput a {
    display: block;
    position: relative;
    margin-top: 40px;

    font-size: 14px;
    letter-spacing: 2.3px;
    left: 33px;
    width: 75px;
}



.footerAbout a, .footerAbout p, .footerSupport p, .footerSupport a, .footerSupport span, .footerFollowUs i, .footerFollowUs, .footerInput, .footerInput a, .return a{
    color: white;
    font-weight: 400;
}



















.return {
    display: flex;
    flex-direction: column;
    justify-content: end;

    
}
.return a {
    display: block;
    writing-mode: vertical-rl;
    letter-spacing: 2.4px;

    position: relative;
    right: 10px;

}


@media (max-width:800px) {
    footer {
        height: auto;
     }
     .footerBlock {
         flex-direction: column;
         align-items: center;
         gap: 80px;
     }
     .footerLogo {
        margin-left: 0;
     }
     .footerAbout {
        /* margin-top: 50px; */
     }
     .footerLogo, .footerAbout, .footerSupport, .footerFollowUs, .footerInput {
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     /* .checkboxMenu {
        margin-top: 25px;
     } */
     .footerInput a {
        margin-top: 25px;
     }
     .return a {
        writing-mode: unset;
        padding-bottom: 30px;
        right: 0;
     }
}